.MyFirstSiteColor {
    background-color: rgb(163, 221, 255);
}

.MyButton1 {
    background-color: rgb(255, 5, 5);
    text-align: center;
}

.MyButton2 {
    background-color: rgb(10, 255, 1);
    text-align: center;
}

.TestColor {
    color: rgb(224, 146, 0);
}