.MyFirstSiteColor {
    background-color: rgb(181, 210, 247);
}

.MyButton2 {
    background-color: rgb(3, 213, 250);
    text-align: center;
}

.TestColor {
    color: rgb(0, 0, 0);
    text-align: center;
}